@model List<WeatherData>

@{
    ViewBag.Title = "Weather";
    ViewBag.Layout = "_Layout";
}

<h2>Weather</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Summary</td>
            <td>@item.Date</td>
            <td>@item.TemperatureC</td>
            <td>@item.TemperatureF</td>
        </tr>
    }
</table>